/* header */
body{
    font-size: 18px;
}
nav{
    background-image: url(../img/pattern.png);
    background-repeat:repeat-x;
    background-color: rgb(78, 160, 255);
    background-attachment:scroll;
    height: 170px;
    margin: auto;
}

.wrote{
    color: grey;
}

.author{
    color: rgb(78, 160, 255);
    font-weight: bold;
}

.time{
    color: grey;
}


/* main */
.evidence{
    background-color: yellow;
}


thead{
    background-color: rgb(32, 169, 229);
    color: white;
    font-weight: bold;
}

.blue{
    background-color: rgb(177, 229, 242);
}

/* footer */
h3{
    color: grey;
}

.suggest1{
    color:white;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

.suggest2{
    color: white;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}