/* header */
body{
    font-size: 18px;
}
nav{
    background-image: url(../img/pattern.png);
    background-repeat:repeat-x;
    background-color: rgb(78, 160, 255);
    background-attachment:fixed;
    height: 170px;
    margin: auto;
}

.wrote{
    color: grey;
}

.author{
    color: rgb(78, 160, 255);
    font-weight: bold;
}

.time{
    color: grey;
}


/* main */
.photo{
    margin: auto;
}

.evidence{
    background-color: yellow;
}

thead{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.blue{
    background-color: turquoise;
}