/* header */
body{
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
nav{
    background-image: url(../img/pattern.png);
    background-repeat:repeat-x;
    background-color: rgb(78, 160, 255);
    background-attachment:scroll;
    height: 170px;
    margin: auto;
}

.logo{
    position: absolute;
    top: 40px;
    left: 1%;
}

.grey{
    color: grey;
}

.author{
    color: rgb(78, 160, 255);
    font-weight: bold;
}


/* main */

.container{
    padding-right: 10%;
    padding-left: 10%;
}

mark{
    background-color: yellow;
}


thead{
    background-color: rgb(32, 169, 229);
    color: white;
    font-weight: bold;
}

table{
    border-collapse: collapse;
}

th{
    text-align: left;
}
.w25{
    width: 25%;
}

.w50{
    width: 50%;
}

.blue{
    background-color: rgb(177, 229, 242);
}

ul{
    list-style-position: inside;
    padding-inline-start: 0;
}

/* footer */

.related-img{
    color:white;
    font-weight: 600;
    height: 208px;
    background-repeat: no-repeat;
    background-size: contain;
}

#suggest1{
    background-image: url(../img/monitor.jpg);
}

#suggest2{
    background-image: url(../img/graph.jpg);
}